[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Nelisquare
Exec=/usr/bin/dbus-send --type=method_call --dest=com.nelisquare /com/nelisquare com.nelisquare.top_application
Icon=nelisquare64
#/opt/usr/share/icons/hicolor/64x64/apps/nelisquare64.png
#X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Osso-Service=com.nelisquare
