[Desktop Entry]
Encoding=UTF-8
Version=0.3.0
Type=Application
Terminal=false
Name=Nelisquare
Exec=/opt/Nelisquare/bin/Nelisquare
Icon=/usr/share/icons/hicolor/64x64/apps/Nelisquare.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
