[Desktop Entry]
Encoding=UTF-8
Version=0.3
Type=Application
Terminal=false
Name=Nelisquare
Exec=/usr/bin/single-instance /opt/nelisquare/bin/nelisquare
Icon=/usr/share/icons/hicolor/80x80/apps/nelisquare80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
