[Desktop Entry]
Encoding=UTF-8
Version=0.2.3
Type=Application
Terminal=false
Name=Nelisquare
Exec=/opt/Nelisquare/bin/Nelisquare
Icon=Nelisquare
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
