[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Nelisquare
Exec=sh -c "LD_LIBRARY_PATH=/opt/qtm12/lib /opt/nelisquare/bin/nelisquare"
Icon=nelisquare64
#/opt/usr/share/icons/hicolor/64x64/apps/nelisquare64.png
#X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
